<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">




    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test5"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.pearl.v_ride.ProfileActivity"
            android:exported="false"
            android:theme="@style/AppThemeTest">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pearl.v_ride.DocumentActivity"
            android:exported="false"
            android:theme="@style/AppThemeTest">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pearl.v_ride.UserHistoryActivity"
            android:exported="false"
            android:theme="@style/AppThemeTest">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pearl.v_ride.NearestServiceActivity"
            android:exported="false"
            android:theme="@style/AppThemeTest">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pearl.v_ride.MyWalletActivity"
            android:exported="false"
            android:theme="@style/AppThemeTest">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pearl.v_ride.IssueRequestActivity"
            android:exported="false"
            android:theme="@style/AppThemeTest">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.pearl.v_ride.SignUpActivity"
            android:exported="false"
            android:theme="@style/AppThemeTest">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pearl.v_ride.HomeScreen"
            android:exported="false"
            android:theme="@style/AppThemeTest">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pearl.v_ride.WelcomeScreen"
            android:exported="false"
            android:theme="@style/AppThemeTest">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pearl.v_ride.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/AppThemeTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pearl.v_ride.MainActivity"
            android:exported="false"
            android:theme="@style/AppThemeTest">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


      <!--  <provider
            android:authorities="com.pearl.v_ride.fileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data android:name="android.support.FILE_PROVIDER_PATH"
                android:resource="@xml/file_path"/>
        </provider>-->
    </application>

</manifest>